APP_ENV=your_environment111
APP_DEBUG=trueOrFalse
APP_KEY=your_key

DB_HOST=localhost
DB_DATABASE=test
DB_USERNAME=test
DB_PASSWORD=test


CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null